@charset "utf-8";
/* CSS Document */



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF0F5;
}

li {
    float: right;
}

li a {
    display: block;
    color: #800000;
    text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #DCDCDC;
}

.overskriftflow1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}






